body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('./assets/grassBackground.jpg');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.2);
}

h1, h2 {
    color: #ffddf4;
    text-align: center;
}

img {
    height: 420px;
    width: auto;
    max-height: 420px;
    max-width: 600px;
}

#storyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 54, 24, 0.623);
}

#storyContainer p {
    color: white;
    text-align: center;
    font-size: larger;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 2.5rem;
}

#pageOverview { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    padding-bottom: 5rem;
}

#hyesoliaBody {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('./assets/dall.jpeg');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.2);
}

#hyesoliaStoryContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: rgba(54, 0, 51, 0.623);
}
#hyesoliaStoryContainer p {
    color: white;
    text-align: center;
    font-size: larger;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 2.5rem;
}

#oonebiBody {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('./assets/liminalPrairie.jpg');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.2);
}

#oonebiStoryContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: rgba(139, 238, 255, 0.623);
}
#oonebiStoryContainer p {
    color: white;
    text-align: center;
    font-size: larger;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 2.5rem;
}